/*Variables*/

$black : #09021d; 
$blue: #012C52; 
$red: #C6372C; 

/*Need to create a function that will allow for changing opacity*/
$transparent_white: rgba(255, 255, 255, 0.8); 

/*Font Stacks*/

$proxima_nova: "proxima-nova", Arial, sans-serif; 
$museo_sans: "MuseoSans500", "Arial Black", "Arial", sans-serif; 