/*=============================================
    ::Footer
    =================================================*/

footer {
    background: #09021d;
    padding: 1px;
    box-shadow: 2px 2px 6px #09021d;
    moz-box-shadow: 2px 2px 6px #09021d;
    p {
        color: white; 
        text-align: center; 
        padding-top: 10px; 
    }
}
