/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
#hamburguer {
   position: absolute;
   top: 0;
   margin-top: 0;
   margin-top: -20px;
   font-size: 2em;
   padding: 5px;
}

#menu {
   ul {
      list-style:none;
      margin: 0; 
   }
}

#site-navigation {
    position: absolute;
    top: 115px;
    left: 45px;
    width: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    ul#menu-primary {
      margin-left: 0;
   }
    li {
      display:inline;
       margin-right: 20px;
       float: left;
    }
    a {
    text-transform:uppercase;
    color: #fff;
    font-size: 16px;
    font-family: $museo_sans;
    font-weight: 500;
    letter-spacing: 0.03em;
    }
}

#site-navigation .menu {
    margin-left: 40px;
}

ul#menu-inner {
	margin-bottom: 1em;
}

#site-navigation li:nth-child(3) a, #site-navigation li:nth-child(4) a, #site-navigation li:nth-child(5) a {
    color: #09021d;
}


.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul {
	left: 100%;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/* Small menu */
.menu-toggle {
	display: none;
}
