.blue-circle {
    background: #012C52;
    position: absolute;
    right: 5%;
    top: -25px;
    border-radius: 70px;
    z-index: -1;
}

#masthead {
    height: 250px; 
}

.content {
    margin-top: 50px; 
}

#slider {
    width: 90%; 
    float: none; 
    margin: 20px auto; 
}
