.blue-circle {
    background: #012C52;
    position: absolute;
    right: 5%;
    top: -25px;
    border-radius: 70px;
    z-index: -1;
}

#masthead {
    height: 250px; 
}

.content {
    margin-top: 50px; 
}

#slider {
    width: 90%; 
    float: none; 
    margin: 20px auto; 
}

.blog-content {
    width: 70%; 
    margin-left: 55px;
    .blog-header {
        margin-left: -135px;
    }
    figure {
        margin: 1em 40px; 
    }
}

.blog-sidebar {
    width: 20%; 
}

#overlay img {
    height: auto; 
}