.swipemenu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #fff;
  z-index: 6;
  width: 280px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  will-change: transform;
  transform: translateX(-280px);
  transform-style: preserve-3d;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}
.swipemenu--open {
  transform: translateX(0);
}
.swipemenu--dragging {
  transition: none;
}
